body {
  background-color:#CFD8DC !important;
  color:#43A047;
}
* {
  margin:0px;
  padding:0px;

}
.bar li a {
  background-color:#43A047;
  color:white;
  text-decoration:none;
  padding:10px 13.9px;
  display:block;
}
.bar li a:hover {
  background-color:yellow;
}
.bar > li {
  float:left;
}
ul, ol {
  list-style:none;
}

.codeIt{
  background-color: rgba(0,0,0,0.5);
  width: 90%;
  height: auto;
  margin: auto;
  border:  5px solid rgba(0,0,0,0.7);
  font-size: 15px;
  line-height: auto;

}
.morecenter{
  background-color: rgba(0,0,0,0);
  width: 90%;
  height: auto;
  margin: auto;
  border:  5px solid rgba(0,0,0,0);
  font-size: 15px;
  line-height: auto;
}
  .button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: white;
  text-shadow: 5%; 
}
 .required{
 	color: red;
 }
 .title {
 font-size:82px;
}
.columnHead {
  background-color:#43A047;
  color:#CFD8DC;
  width:80%;
}
.tablePreparation {
  width:80%;
}
.preparationTitle{
  text-align: "rigth";
  color: #4b5320;
  font-size:35px;
}
.tabledata{
  background-color: white;
}