{% extends  'template.html'%}
{% block content %}
<br>
<center>
<em>
<p class="title">
titulo
<p><input type="text" name="title"></p>
<script type="text/javascript" src="{{ url_for('static', filename='js/tools.js')}}"></script>
<br>
</p>
</em>
<form method="POST" action="" >
<div id="generalInfo">	
	<table border="1" id="table1">
		<tr class="columnHead">
			<th><b>Tipo de plato</b></th>
			<th><b>N° personas</b></th>
			<th><b>Procedencia</b></th>
		</tr>
		<tr>
			<td><input type="text" name="typeFood"></td>
			<td><input type="text" name="amoutPersons"></td>
			<td><input type="text" name="origin"></td>
		</tr>
	</table>
</div>
<br>
<div id="ingredients">
	<table border="1">
		<tr class="columnHead">
			<th><b>Cantidad</b></th>
			<th><b>Medida</b></th>
			<th><b>Ingrediente</b></th>
			<th><b>Observaciones</b></th>
			<b><input type="button" onclick ="addRow()" value="nueva fila"></b>
		</tr>
		<tr>
			<td><input type="text" name="amout"></td>
			<td><input type="text" name="amoutUnit" placeholder="cdta/gr/ml..."></td>
			<td><input type="text" name="ingredients"></td>
			<td><input type="text" name="notes"></td>
			
		</tr>
	</table>
</div>
<br>
<div id="preparation">
	<table class="tablePreparation">
		<tr>
			<th>
				<p class="preparationTitle">preparacion</p>
			</th>
		</tr>
		<tr>
			<td>
				<textarea name="process" rows="10" cols="100">
				</textarea>
			</td>
		</tr>
	</table>
</div>
</form>
</center>

{% endblock %}