{% extends  'template.html'%}
{% block content %}
{% if session['loged'] %}
<br>
<br>
<br>
<br>
	<h1>tu ya estas logeado</h1>

{% else %}
<h1>Resetes</h1>
<h2>login</h2>
para una demostracion use:
<h3><b>Username:<b>test     <b>Password:</b>test</h3>
<form action="/login.html" method="POST">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Login">
</form>
{% if not error=="" %}
    <div class="required"><p><strong>Error:</strong> {{ error }}</div>
{% endif %}
{% endif %}
{% endblock %}
