{% extends  'template.html'%}
{% block content %}
	<h1>
		Create User	
	</h1>
<br>
<br>
<form method="POST">
<p><h2>Username</h2></p>
<input type="text" name="usr" required>
<br>
<p><h2>Password</h2></p>
<input type="password" name="pwd" required>
<br>
<p><h2>Repeat password</h2></p>
<input type="password" name="pwd2" required>
<br>
<input type="submit" value="crear usuario">
</form>
{% if not error=="" %}
    <div class="required"><p><strong>Error:</strong> {{ error }}</div>
{% endif %}
{% endblock %}