{% extends  'template.html'%}
{% block content %}
<br>
<center>
<em>
<p class="title">
pagina principal
</p>
<br>
</em>
{% for i in data %}
<hr>
{{ i }}
<br>
<p class="title">
{{ i.0 }}
</p>
<div id="generalInfo">	
	<table border="1" id="table1">
		<tr class="columnHead">
			<th><b>Tipo de plato</b></th>
			<th><b>N° personas</b></th>
			<th><b>Procedencia</b></th>
		</tr>
		<tr>
			<td class="tabledata">{{ i.1 }}</td>
			<td class="tabledata">{{ i.2 }}</td>
			<td class="tabledata">{{ i.3 }}</td>
		</tr>
	</table>
</div>
<br>
<div id="ingredients">
	<table border="1">
		<tr class="columnHead">
			<th><b>Cantidad</b></th>
			<th><b>Medida</b></th>
			<th><b>Ingrediente</b></th>
			<th><b>Observaciones</b></th>
		</tr>
		{% set list1 = i.4.split(',') %}
		{% set list2 = i.5.split(',') %}
		{% set list3 = i.6.split(',') %}
		{% set list4 = i.7.split(',') %}
		{% for ii in range(list3|length) %}
			<tr>
				<td class="tabledata">{{ list1.loop }}</td>
				<td class="tabledata">{{ list2 }}</td>
				<td class="tabledata">{{ list3 }}</td>
				<td class="tabledata">{{ list4 }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
<br>
<div id="preparation">
	<table class="tablePreparation">
		<tr>
			<th>
				<p class="preparationTitle">preparacion</p>
			</th>
		</tr>
		<tr>
			<td class="tabledata">
				{{ i.8 }}
			</td>
		</tr>
	</table>
</div>
{% endfor %}
</center>

{% endblock %}