{% extends  'template.html'%}
{% block content %}
<br>
<center>
<em>
<p class="title">
pagina principal
</p>
<br>
</em>
{% for i in data %}
<hr>
<br>
<p class="title">
{{ i.1 }}
</p>
<h5><a href="eliminar/{{ i.0 }}">editar</a>   <a href="eliminar/{{ i.0 }}">eliminar</a></h5>
<div id="generalInfo">	
	<table border="1" id="table1">
		<tr class="columnHead">
			<th><b>Tipo de plato</b></th>
			<th><b>N° personas</b></th>
			<th><b>Procedencia</b></th>
		</tr>
		<tr>
			<td class="tabledata">{{ i.2 }}</td>
			<td class="tabledata">{{ i.3 }}</td>
			<td class="tabledata">{{ i.4 }}</td>
		</tr>
	</table>
</div>
<br>
<div id="ingredients">
	<table border="1">
		<tr class="columnHead">
			<th><b>Cantidad</b></th>
			<th><b>Medida</b></th>
			<th><b>Ingrediente</b></th>
			<th><b>Observaciones</b></th>
		</tr>
		{% set list1 = i.5.split(',') %}
		{% set list2 = i.6.split(',') %}
		{% set list3 = i.7.split(',') %}
		{% set list4 = i.8.split(',') %}
		{% for ii in range(list3|length) %}
			<tr>
				<td class="tabledata">{{ list1[ii] | replace("'", "")}}</td>
				<td class="tabledata">{{ list2[ii] | replace("'", "")}}</td>
				<td class="tabledata">{{ list3[ii] | replace("'", "")}}</td>
				<td class="tabledata">{{ list4[ii] | replace("'", "")}}</td>
			</tr>
		{% endfor %}
	</table>
</div>
<br>
<div id="preparation">
	<table class="tablePreparation">
		<tr>
			<th>
				<p class="preparationTitle">preparacion</p>
			</th>
		</tr>
		<tr>
			<td class=".bg-light">
				<br>
					{{ i.9 }}
				<br>
				<br>
					hecho por {{ i.10 }}
				<br>
			</td>
		</tr>
	</table>
</div>
{% endfor %}
</center>

{% endblock %}